[Desktop Entry]
Icon=application-pdf
Name=Dennis Farmer MTH 293.pdf
Type=Link
URL[$e]=file:$HOME/downloads/coursework/mth293/final/Dennis Farmer MTH 293.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
