[Desktop Entry]
Icon=video-mp4
Name=mobizen_20210309_080809.mp4
Type=Link
URL[$e]=file:$HOME/downloads/mobizen_20210309_080809.mp4
X-KDE-LastOpenedWith=vlc
