[Desktop Entry]
Icon=application-pdf
Name=MTH293-15.8.pdf
Type=Link
URL[$e]=file:$HOME/downloads/coursework/mth293/written assignments/F21 Responses/MTH293-15.8.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
