[Desktop Entry]
Icon=video-mp4
Name=RotatingStimulatingGnu.mp4
Type=Link
URL[$e]=file:$HOME/downloads/RotatingStimulatingGnu.mp4
X-KDE-LastOpenedWith=vlc
